@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.375rem !important;
  background-color: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(93, 89, 108, 0.2) !important;
}
